/*
 * DARK PURPLE: rgb(71, 56, 79)
 */
body {
  text-align: center;
  padding: 0em;
  font: normal 11pt Arial, sans-serif; }

.clear { clear: both; }

a, a:visited {
  text-decoration: none;
  color: rgb(125, 179, 30); }
a:hover {
  text-decoration: underline; }

.container {
  width: 900px;
  margin: 0 auto;
  text-align: left;
  padding: 0; }

  .container h4 {
    font: bold 11pt Arial, sans-serif;
    margin: 1ex 0;
    color: #555; }
    .container h4 a {
      color: #555; }

  .container #header {
    background: transparent url('/images/gus-logo.png') no-repeat top left;
    margin-bottom: 20px;
    color: rgb(71, 56, 79);
    font-family: Georgia, serif;
    font-size: 12pt;
    font-style: italic; }
  .container #header #nav {
    float: right;
    margin-bottom: 5px; }
    .container #header #nav ul { list-style-type: none; }
      .container #header #nav ul li {
        float: left;
        padding: 20px 15px 5px 15px; }
        .container #header #nav ul li:hover {
          background-color: rgb(71, 56, 79);
          color: #fff;}
        .container #header #nav ul li:hover a { color: #fff;}
    .container #header #nav a { color: rgb(71, 56, 79) }
  .container #header #slogan { text-align: right; }

  /* Footer */

  .container #footer {
    margin: 1em 0 0 0;
    padding: 1ex 0 1ex 0;
    border-top: 4px double #ccc;
    font: normal 10pt Arial, sans-serif;
    color: #aaa; }
    .container #footer .email {
      color: #458; }

  /* Main view */

  .container #articles {
    float: left;
    width: 600px; }
  .container #sidebar {
    float: left;
    margin-left: 15px;
    width: 285px; }
    .container #sidebar h3 {
      font: normal italic 14pt Georgia, serif;
      background-color: rgb(71, 56, 79);
      color: #fff;
      padding: 1ex;
      margin: 1em 0; }

  /* Article */

  .container #article li {
    list-style: circle inside;
    color: #333;
    padding: 0 0 0 1ex; }
  .container #article h1 {
    margin: 0;
    font: normal 22pt Georgia, serif;
    color: rgb(71, 56, 79);
    font-weight: bold; }
    .container #article h1 a { color: rgb(71, 56, 79); }
    .container #article .header {
      font-family: Georgia, serif;
      margin: 1em 0; }
      .container #article .header h1 { padding-bottom: .5ex; }
    .container #article .header .date {
      float: left;
      width: 120px;
      color: #777;
      padding: 1ex 0; }
    .container #article .header .summary {
      float: left;
      width: auto;
      padding: 1ex 0 1ex 1ex;
      border-left: 1px solid #ccc;
      font-style: italic;
      color: #222; }
  .container #article h2 {
    font: normal 18pt Arial, sans-serif;
    font-weight: bold;
    margin: 1em 0;
    color: #111;
    border-bottom: 1px solid #ddd; }
    .container #article h2 a {
      color: #248; }
  .container #article h3 {
    font: normal 14pt Arial, sans-serif;
    font-weight: bold;
    margin: 1em 0;
    color: #333; }
    .container #article h3 a {
      color: #295; }
  .container #article p {
    margin: 2ex 0; }
  .container #article blockquote {
    border-left: 4px solid #eee;
    margin: 0;
    padding: 0 0 0 1ex;
    color: #555; }
  .container #article em {
    font-style: italic; }
  .container #article img.article {
    margin: 1ex;
    padding: 1ex;
    border: 1px solid #ccc; }
  .container #article hr {
    border: 1px dotted #ccc; }
  .container #article pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    background-color: #222;
    overflow: auto;
    color: #63FF00;
    padding: 1ex;
    display: block; }
    .container #article pre code {
      font: normal 9pt "bitstream vera sans mono", "monaco", "lucida console", "courier new", courier, serif;
      display: inline; }

/* Grumble */

#grumble {
  margin: 1em 0;
  padding: 1em 0;
  background-color: #f5f5f5; }
  #grumble h4 {
    font: normal 12pt "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    margin: 1ex 0;
    color: #555; }
  #grumble li.comment {
    list-style: none;
    padding: 0;
    padding: 1em 0;
    font-family: "georgia", "times", serif; }
    #grumble li.comment .subject {
      font-size: 14pt; }
    #grumble li.comment .grumbler {
      float: left;
      width: 125px;
      padding: 8px 0 1em 0;
      border-top: 2px solid #86d125; }
      #grumble li.comment .grumbler:after {
        color: #888;
        content: " says:"; }
    #grumble li.comment .body {
      border-top: 2px solid #ddd;
      width: 716px;
      float: left;
      text-align: left;
      padding: 10px 0 1em 1ex; }
  #grumble form {
    font-size: 10pt;
    border-top: 3px double #ddd; }
    #grumble form div {
      padding: 1ex 0; }
    #grumble form label {
      text-transform: uppercase;
      color: #555;
      display: block;
      font-size: 9pt;
      letter-spacing: 1px;
      padding: 0 0 .5ex 0; }
    #grumble form input, #grumble form textarea {
      font-size: 12pt; }
