---
layout: default
---
<div id="left" class="grid_3 alpha column">
  <ul>
    <h3>To the Future</h3>
    {% assign related = page.next.next %}{% if related %}<li>
      <a href="{{ related.url }}">{{ related.title }}</a>
      <p>{{ related.summary }}</p>
    </li>{% endif %}

    {% assign related = page.next %}{% if related %}<li>
      <a href="{{ related.url }}">{{ related.title }}</a>
      <p>{{ related.summary }}</p>
    </li>{% endif %}
  </ul>
</div>

<div id="article" class="grid_6">
  <div class="header clearfix">
    <h1>{{ page.title }}</h1>
    <div id="info">
      <span class="date"><cite>{{ page.date | date: "%b %d, %Y" }}</cite></span>
      <span class="summary"><em>{{ page.summary }}</em></span>
    </div>
  </div>
  {{ content }}

  <div id="grumble">
    <h4 class="count"></h4>
    <ul></ul>

    <div id="disqus_thread"></div>
    <!-- script type="text/javascript" src="http://disqus.com/forums/gusgus/embed.js"></script -->
    <noscript><a href="http://disqus.com/forums/gusgus/?url=ref">View the discussion thread.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">powered by <span class="logo-disqus">Disqus</span></a>
  </div>
</div>

<div id="right" class="grid_3 omega column">
  <ul>
    <h3>Into the Past</h3>
    {% assign related = page.previous %}{% if related %}<li>
      <a href="{{ related.url }}">{{ related.title }}</a>
      <p>{{ related.summary }}</p>
    </li>{% endif %}

    {% assign related = page.previous.previous %}{% if related %}<li>
      <a href="{{ related.url }}">{{ related.title }}</a>
      <p>{{ related.summary }}</p>
    </li>{% endif %}
  </ul>
</div>
