---
layout: default
---

<div id="page_title">
  <h1>{{ page.title }}</h1>
  <div class="summary"><em>{{ page.summary }}</em></div>
</div>

<div class="grid_9 alpha">
  <div id="left" class="grid_3 alpha column">
    <ul>
      <h3>Into the Future</h3>
      {% assign related = page.next.next %}{% if related %}<li>
        <a href="{{ related.url }}">{{ related.title }}</a>
        <p><em>{{ related.summary }}</em></p>
      </li>{% endif %}

      {% assign related = page.next %}<li>{% if related %}
        <a href="{{ related.url }}">{{ related.title }}</a>
        <p><em>{{ related.summary }}</em></p>
      {% else %}
        <p><em>
          You're just going to have to wait, you know. In the meantime, checkout:
          <a href="http://github.com/thumblemonks/inquisition">Inquisition</a>,
          <a href="http://github.com/thumblemonks/whyvalidationssuckin96">Why Validations Suck in 96</a>,
          <a href="http://javagems.org/">Java Gems</a>,
          or just google for some random images (not helping with that).
        </em></p>
      {% endif %}</li>

    <h3>Check me out!</h3>
      <p><em>
        <a href="http://github.com/thumblemonks/riot">Riot</a> for fast ruby testing,
        <a href="http://jubilator.thumblemonks.com/" title="Browse GitHub in style">Jubilator</a> for GitHub browsing,
        <a href="http://seota.thumblemonks.com/" title="Semi-automatic SEO assistance">Seota</a> for semi-automatic SEO help,
        <a href="http://github.com/thumblemonks/animalcracker">Animal Cracker</a> for Rack asset hosting assistance,
        <a href="http://github.com/thumblemonks/riot">Chicago</a> for Sinatra helpers
      </em></p>
    </ul>
  </div>

  <div id="article" class="grid_6 omega">
    <div id="info">
      <div class="date"><cite>{{ page.date | date: "%b %d, %Y" }}</cite></div>
    </div>

    <div class="content">{{ content }}</div>
  </div>

  {% unless page.no_comment %}
  <div id="grumble">
    <h4 class="count"></h4>
    <ul></ul>

    <div id="disqus_thread"></div>
    <script type="text/javascript" src="http://disqus.com/forums/gusgus/embed.js"></script>
    <noscript><a href="http://disqus.com/forums/gusgus/?url=ref">View the discussion thread.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">powered by <span class="logo-disqus">Disqus</span></a>
  </div>
  {% endunless %}
</div>

<div id="right" class="grid_3 omega column">
  <ul>
    <h3>Into the Past</h3>
    {% assign related = page.previous %}<li>{% if related %}
      <a href="{{ related.url }}">{{ related.title }}</a>
      <p><em>{{ related.summary }}</em></p>
    {% else %}
      {% for a_post in site.posts limit:2 %} 
        <li>
          <a href="{{ a_post.url }}">{{ a_post.title }}</a>
          <p><em>{{ a_post.summary }}</em></p>
        </li>
      {% endfor %}
    {% endif %}</li>

    {% assign related = page.previous.previous %}{% if related %}<li>
      <a href="{{ related.url }}">{{ related.title }}</a>
      <p><em>{{ related.summary }}</em></p>
    </li>{% endif %}

    <p><em>
      Check out these fine products:
      <a href="http://ackandnak.com/">Ack &amp; Nak</a> many-days-a-week web comic,
      <a href="http://dailyjs.com/">DailyJS</a>,
      <a href="http://helicoid.net/">Helicoid</a>,
      <a href="http://swirrl.com/">Swirrl</a>,
      <a href="http://javagems.org/">Java Gems</a>, et al
    </em></p>
  </ul>
</div>
