---
layout: default
---
<div id="article">
  <div class="header">
    <h1>{{ page.title }}</h1>
    <div class="date"><cite>{{ page.date | date: "%b %d, %Y" }}</cite></div>
    <div class="summary">{{ page.summary }}</div>
    <div class="clear"></div>
  </div>
  {{ content }}
</div>

<div id="grumble">
  <h4 class="count"></h4>
  <ul></ul>

  <form id="new_comment">
    <input type="hidden" name="subject" value="{{ page.title }}"/>
    <div>
      <label>Name:</label>
      <input type="text" name="anon_grumbler_name" size="52"/>
    </div>
    <div>
      <label>Grumble:</label>
      <textarea name="body" rows="6" cols="50"></textarea>
    </div>
    <input type="submit" value="Grumble!"/>
  </form>
</div>
